.wrapper {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  height: calc(100svh - 56px);
}

.content {
  @media (min-width: 1024px) {
    width: 35vw;
  }
}

.a {
  text-decoration: underline;
}
