main {
  display: grid;
  place-items: center;
  height: calc(100dvh - 56px);
}

.content {
  @media (width >= 768px) {
    width: 50dvw;
  }

  @media (width >= 1024px) {
    width: 35dvw;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
