body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-50 {
  max-width: 50vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #111;
    --bg-secondary: #212121;
    --text-primary: #bfbfbf;
  }

  body {
    background-color: var(--bg-secondary);
  }

  * {
    color: #bfbfbf;
  }
}
