body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #111;
    --bg-secondary: #212121;
    --text-primary: #bfbfbf;
  }

  body {
    background-color: var(--bg-secondary);
  }
}